node_modules
assets
.vscode
backend/__pycache__
backend/auth.json
# seperated because everyone will have diff paths
backend/paths.json
.idea/
.DS_Store
backend/.DS_Store
backend/dd_ml_segmentation_benchmark/__pycache__